In [1]:
#Import python libraries
import pandas as pd
import numpy as np
import os
from datetime import datetime
#ignore warning
import warnings
warnings.filterwarnings('ignore')

Read all CSVs from different folders that are combined

In [2]:
Consolidated_Africa_FDI_combined = pd.read_csv('Consolidated FDI Data/Consolidated_Africa_FDI_combined.csv')
developed_03_20 = pd.read_csv('developed/developed_03_20.csv')
developing = pd.read_csv('developing/developing.csv')
no_india_china = pd.read_excel('Projects in all developing countries no india or china through march 2018/1.xlsx',engine="openpyxl")
#Drop 1st column
no_india_china = no_india_china.drop(no_india_china.columns[0], axis=1)

In [23]:
developing

,project date,cluster,sector,destination country,activity,source country,jobs created,sub sector,source state,capital investment,...,position 3,telephone 1,joint venture companies,email 2,telephone 2,contact name,email 3,telephone 3,aj comment,aj source
0,2018-01-01,Professional Services,Real estate,Japan,Business Services,United States,8.0,Rental & leasing services,New York,1.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-01,Professional Services,Real estate,South Africa,Business Services,Switzerland,8.0,Rental & leasing services,Switzerland,1.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-01,Professional Services,Real estate,South Africa,Business Services,Switzerland,8.0,Rental & leasing services,Switzerland,1.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-01,Physical Sciences,Chemicals,Russia,Construction,Czech Republic,1867.0,Resin & artificial synthetic fibres & filaments,Czech Republic,142.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-01,Industrial,Industrial equipment,South Korea,"Sales, Marketing & Support",United Kingdom,16.0,"Boiler, tank, & shipping container",Wales,3.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46390,2021-02-01,Consumer Goods,Consumer products,Latvia,Manufacturing,Lithuania,150.0,Sporting goods hobby books music,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46391,2021-02-01,ICT Electronics,Business machines equipment,Singapore,Headquarters,United States,54.0,Computer peripheral equipment,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46392,2021-02-01,ICT Electronics,Software IT services,Vietnam,Research Development,Switzerland,119.0,Custom computer programming services,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46393,2021-02-01,ICT Electronics,Communications,Kenya,Sales Marketing Support,Spain,37.0,Data processing hosting related services,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46394,2021-02-01,ICT Electronics,Communications,Zambia,Sales Marketing Support,Spain,37.0,Data processing hosting related services,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
developing.isna().sum()

project date                    0
cluster                         0
sector                          0
destination country             0
activity                        0
source country                  0
jobs created                   20
sub sector                      0
source state                22893
capital investment          22893
destination city            22893
source city                 22893
destination state           22893
investing company           23502
source region               22893
project type                22893
destination region          22893
project status              22893
parent company              23502
destination admin region    22893
year                        22893
estimated 22                22893
month                       22893
day                         22893
estimated 20                22893
type                        23503
capex                       23505
estimated 1                 46395
source admin region         46395
estimated                   46395
website                     46395
contact name 1              46395
position 1                  46395
free zone                   44104
company profile             46395
year established            46395
company telephone           46395
revenue usd m               46395
source                      46395
headcount                   46395
company email               46395
markets served              46395
contact name 2              46395
position 2                  46395
relocation                  46010
motive                      46395
r d expenditure usd m       46395
email 1                     46395
contact name 3              46395
position 3                  46395
telephone 1                 46395
joint venture companies     46395
email 2                     46395
telephone 2                 46395
contact name                46395
email 3                     46395
telephone 3                 46395
aj comment                  46395
aj source                   46395
dtype: int64

In [3]:
Consolidated_Africa_FDI_combined['date'] = pd.to_datetime(Consolidated_Africa_FDI_combined['date'])
Consolidated_Africa_FDI_combined['date']

0        2018-02-01
1        2017-11-01
2        2015-10-01
3        2013-12-01
4        2013-08-01
            ...
117179   2021-02-01
117180   2021-02-01
117181   2021-02-01
117182   2021-02-01
117183   2021-02-01
Name: date, Length: 117184, dtype: datetime64[ns]

In [4]:
#2003-01-01 00:00:00+00:00 to 2003-01-01
developed_03_20['project_date'] = pd.to_datetime(developed_03_20['project_date'])
developed_03_20['project_date'] = developed_03_20['project_date'].dt.date
developed_03_20['project_date']

0        2003-01-01
1        2003-01-01
2        2003-01-01
3        2003-01-01
4        2003-01-01
            ...
91433    2020-02-01
91434    2020-02-01
91435    2020-02-01
91436    2020-02-01
91437    2020-02-01
Name: project_date, Length: 91438, dtype: object

In [5]:
developing['project date'][23502:] = '20' + developing['project date'][23502:].astype(str)
developing['project date'][23502:] = developing['project date'][23502:].apply(lambda x: datetime.strptime(x, "%Y-%b").strftime('%Y-%m'))
developing['project date'][23502:] = developing['project date'][23502:] + '-01'
developing['project date'][:23502] = pd.to_datetime(developing['project date'][:23502]).dt.date
developing['project date'] = pd.to_datetime(developing['project date'])
developing['project date']

0       2018-01-01
1       2018-01-01
2       2018-01-01
3       2018-01-01
4       2018-01-01
           ...
46390   2021-02-01
46391   2021-02-01
46392   2021-02-01
46393   2021-02-01
46394   2021-02-01
Name: project date, Length: 46395, dtype: datetime64[ns]

In [6]:
#keep alphabets and numbers in columns in lower case
Consolidated_Africa_FDI_combined.columns = Consolidated_Africa_FDI_combined.columns.str.lower()
developed_03_20.columns = developed_03_20.columns.str.lower()
developing.columns = developing.columns.str.lower()
no_india_china.columns = no_india_china.columns.str.lower()

Consolidated_Africa_FDI_combined.columns = Consolidated_Africa_FDI_combined.columns.str.replace('[^A-Za-z0-9]+', ' ')
developed_03_20.columns = developed_03_20.columns.str.replace('[^A-Za-z0-9]+', ' ')
developing.columns = developing.columns.str.replace('[^A-Za-z0-9]+', ' ')
no_india_china.columns = no_india_china.columns.str.replace('[^A-Za-z0-9]+', ' ')

developed_03_20.drop('freezone', axis=1, inplace=True)
Consolidated_Africa_FDI_combined.drop('freezone', axis=1, inplace=True)
#remove duplicate columns in developed_03_20
developed_03_20 = developed_03_20.loc[:,~developed_03_20.columns.duplicated()]

In [7]:
#Rename column date to project date in Consolidated
Consolidated_Africa_FDI_combined.rename(columns={'date':'project date'}, inplace=True)
Consolidated_Africa_FDI_combined.rename(columns={'destination adm region':'destination admin region'}, inplace=True)
developed_03_20.rename(columns={'destination adm region':'destination admin region'}, inplace=True)
developing.drop('destination admin region', axis=1, inplace=True)
developing.rename(columns={'destination adm region':'destination admin region'}, inplace=True)
developing.rename(columns={'motive description':'motive'}, inplace=True)
no_india_china.rename(columns={'motive description':'motive'}, inplace=True)
developed_03_20.drop('date', axis=1, inplace=True)
developed_03_20.rename(columns={'source adm region':'source admin region'}, inplace=True)
Consolidated_Africa_FDI_combined.rename(columns={'source adm region':'source admin region'}, inplace=True)
developing.drop('source adm region', axis=1, inplace=True)
developed_03_20['project date'] = pd.to_datetime(developed_03_20['project date'])

In [8]:
#Concatenate all dataframes into one column wise
df = pd.concat([Consolidated_Africa_FDI_combined,developed_03_20,developing],axis=0)
df.reset_index(drop=True, inplace=True)
#remove string in brackets in column destination city
df['destination city'] = df['destination city'].str.replace(r"\(.*\)","")

In [9]:
#Print project date column of all dataframes
print(Consolidated_Africa_FDI_combined['project date'])
print(developed_03_20['project date'])
print(developing['project date'])

0        2018-02-01
1        2017-11-01
2        2015-10-01
3        2013-12-01
4        2013-08-01
            ...
117179   2021-02-01
117180   2021-02-01
117181   2021-02-01
117182   2021-02-01
117183   2021-02-01
Name: project date, Length: 117184, dtype: datetime64[ns]
0       2003-01-01
1       2003-01-01
2       2003-01-01
3       2003-01-01
4       2003-01-01
           ...
91433   2020-02-01
91434   2020-02-01
91435   2020-02-01
91436   2020-02-01
91437   2020-02-01
Name: project date, Length: 91438, dtype: datetime64[ns]
0       2018-01-01
1       2018-01-01
2       2018-01-01
3       2018-01-01
4       2018-01-01
           ...
46390   2021-02-01
46391   2021-02-01
46392   2021-02-01
46393   2021-02-01
46394   2021-02-01
Name: project date, Length: 46395, dtype: datetime64[ns]

In [10]:
lats_long = pd.read_csv('worldcities.csv')
lats_long = lats_long[['city_ascii','country','lat','lng']]
#Remove duplicate rows as per city_ascii in lats_long
lats_long = lats_long.drop_duplicates(subset=['city_ascii'], keep='first')

In [11]:
#Merge lats_long and df on city_ascii and destination city or country
df_merged = pd.merge(df, lats_long, how='inner', left_on=['destination city'], right_on=['city_ascii'])

In [12]:
df_merged['project date']

0        2018-02-01
1        2017-11-01
2        2015-10-01
3        2013-12-01
4        2013-08-01
            ...
117090   2020-06-01
117091   2020-06-01
117092   2020-06-01
117093   2020-06-01
117094   2020-06-01
Name: project date, Length: 117095, dtype: datetime64[ns]

In [13]:
# Replace Null project date with year, month, day
df_merged['project date'] = df_merged['project date'].fillna(pd.to_datetime(df_merged[['year','month','day']]))

In [20]:
df_merged.isna().sum()

destination country         0
num                     68178
project date                0
investing company       17505
parent company          17505
                        ...
aj source              117095
city_ascii                  0
country                     0
lat                         0
lng                         0
Length: 78, dtype: int64

In [14]:
df_merged.to_csv('df_merged.csv', index=False)